.loading-page{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	background-color: #0000004d;
}

.loading-page svg {
	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nprogress .bar {
	height: 6px;
    z-index: 9999999;
}